# Резервные копии и временные файлы
*.bak
*.tmp
*.log
*.lock
# Каталоги сред разработки
.vscode/
# Хранилище конфигурации и пользовательские настройки
v8userdefinfо/
config.dump
# Файлы конфигурации и данные
*.cfе
*.epf
*.erf
*.dt
# Файлы компиляции и сборки
bin/